<h2 class="page-heading" id="post">Quick About</h2>
<article class="post-content">
    <h4 id="nginx---baca-engine-x">Nginx - (baca: engine x)</h4>

<p>adalah server <a href="http://id.wikipedia.org/wiki/HTTP">HTTP</a> dan <a href="http://id.wikipedia.org/wiki/Proxy">Proxy</a> dengan kode sumber terbuka yang bisa juga berfungsi sebagai proxy IMAP/POP3. Kode sumber nginx ditulis oleh seorang warga negara <a href="http://id.wikipedia.org/wiki/Rusia">Rusia</a> yang bernama <a href="http://sysoev.ru/en/">Igor Sysoev</a> pada tahun 2002 dan dirilis ke publik pada tahun 2004. Nginx terkenal karena stabil, memiliki tingkat performansi tinggi dan sedikit mengonsumsi sumber daya.
Untuk waktu yang lama, telah berjalan pada banyak berat dimuat situs Rusia termasuk <a href="http://www.yandex.ru/">Yandex</a>, <a href="http://mail.ru/">Mail.Ru</a>, <a href="http://vk.com/">VK</a>, dan <a href="http://www.rambler.ru/">Rambler</a>. Menurut Netcraft, nginx dilayani atau proksi <a href="http://news.netcraft.com/archives/2014/11/19/november-2014-web-server-survey.html">20.41% situs tersibuk di November 2014</a>.</p>

<p>Beberapa situs terkenal yang menggunakan Nginx adalah <a href="https://www.netflix.com/">Netflix</a>, <a href="http://wordpress.org/">Wordpress</a>, <a href="https://www.fastmail.fm/">Fastmail</a>, <a href="https://code.ohloh.net/">Ohloh</a>, <a href="http://sourceforge.net/">Sourceforge</a>, <a href="https://github.com">Github</a>, dan lain-lain.</p>

<p>Sumber dan dokumentasi yang didistribusikan di bawah <a href="/LICENSE.md">2-clause BSD-like license</a>.</p>

<p>Dukungan komersial tersedia dari <a href="http://nginx.com/?_ga=1.100477017.632127369.1411524321">Nginx, Inc</a>.</p>

<a href="/about/nginx/">Selengkapnya...</a>
</article>