<h2 class="page-heading" id="post">Berita Nginx</h2>
<table class="news">
        <tbody><tr><td class="date"><a name="2014-12-02"></a>2014-12-02</td><td><p><a href="en/download.html">nginx-1.7.8</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-10-28"></a>2014-10-28</td><td><p><a href="en/download.html">nginx-1.7.7</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-09-30"></a>2014-09-30</td><td><p><a href="en/download.html">nginx-1.7.6</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-09-16"></a>2014-09-16</td><td><p><a href="en/download.html">nginx-1.6.2</a>
stable and
<a href="en/download.html">nginx-1.7.5</a>
mainline versions have been released
with a fix for the
<a href="en/security_advisories.html">SSL session reuse vulnerability</a>
discovered by Antoine Delignat-Lavaud
(CVE-2014-3616).
</p></td></tr><tr><td class="date"><a name="2014-08-05"></a>2014-08-05</td><td><p><a href="en/download.html">nginx-1.6.1</a>
stable and
<a href="en/download.html">nginx-1.7.4</a>
mainline versions have been released,
with a fix for the
<a href="en/security_advisories.html">STARTTLS vulnerability</a>
discovered by Chris Boulton
(CVE-2014-3556).
</p></td></tr><tr><td class="date"><a name="2014-07-08"></a>2014-07-08</td><td><p><a href="en/download.html">nginx-1.7.3</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-06-17"></a>2014-06-17</td><td><p><a href="en/download.html">nginx-1.7.2</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-05-27"></a>2014-05-27</td><td><p><a href="en/download.html">nginx-1.7.1</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-04-24"></a>2014-04-24</td><td><p><a href="en/download.html">nginx-1.6.0</a>
stable version has been released,
incorporating many new features from the 1.5.x mainline branch -
including various SSL improvements,
<a href="en/docs/http/ngx_http_spdy_module.html">SPDY 3.1 support</a>,
<a href="en/docs/http/ngx_http_proxy_module.html#proxy_cache_revalidate">
cache revalidation with conditional requests</a>,
<a href="en/docs/http/ngx_http_auth_request_module.html">auth request
module</a>
and more.
</p><p><a href="en/download.html">nginx-1.7.0</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-04-08"></a>2014-04-08</td><td><p><a href="en/download.html">nginx-1.5.13</a>
mainline version has been released.
</p></td></tr><tr><td class="date"><a name="2014-04-03"></a>2014-04-03</td><td><p>
W3Techs reports that
<a href="http://w3techs.com/technologies/cross/web_server/ranking">23%
of the top 1 million and 30.3% of the top 100k sites on the web</a>
(according to Alexa) use nginx.
Almost double growth in less than
<a href="2012.html#2012-08-22">two years</a>.
</p></td></tr><tr><td class="date"><a name="2014-03-18"></a>2014-03-18</td><td><p><a href="en/download.html">nginx-1.4.7</a>
stable and
<a href="en/download.html">nginx-1.5.12</a>
mainline versions have been released,
with a fix for the
<a href="en/security_advisories.html">SPDY heap buffer overflow</a>
vulnerability
discovered by
Lucas Molas, researcher at Programa STIC,
<a href="http://www.fundacionsadosky.org.ar/en/">Fundación Dr. Manuel
Sadosky</a>, Buenos Aires, Argentina
(CVE-2014-0133).
</p></td></tr><tr><td class="date"><a name="2014-03-04"></a>2014-03-04</td><td><p><a href="en/download.html">nginx-1.4.6</a>
stable version has been released.
</p><p><a href="en/download.html">nginx-1.5.11</a>
mainline version has been released,
with a fix for the
<a href="en/security_advisories.html">SPDY memory corruption</a>
vulnerability in nginx 1.5.10
discovered by
Lucas Molas, researcher at Programa STIC,
<a href="http://www.fundacionsadosky.org.ar/en/">Fundación Dr. Manuel
Sadosky</a>, Buenos Aires, Argentina
(CVE-2014-0088).
</p></td></tr><tr><td class="date"><a name="2014-02-11"></a>2014-02-11</td><td><p><a href="en/download.html">nginx-1.4.5</a>
stable version have been released.
</p></td></tr><tr><td class="date"><a name="2014-02-04"></a>2014-02-04</td><td><p><a href="en/download.html">nginx-1.5.10</a>
mainline version has been released,
with SPDY 3.1 support in
<a href="en/docs/http/ngx_http_spdy_module.html">SPDY module</a>.
</p></td></tr><tr><td class="date"><a name="2014-01-22"></a>2014-01-22</td><td><p><a href="en/download.html">nginx-1.5.9</a>
mainline version has been released.
</p></td></tr>
            </tbody></table>